@using Microsoft.AspNetCore.Identity
@using VseVeshi.ru.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICatalogService CatalogService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VseVeshi.ru</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VseVeshi.ru.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    @{
        if (ViewData["Title"].ToString() != "Home page" && ViewData["Title"].ToString() != "О сервисе")
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-light mb-3">
                    <div class="container">
                        <a class="navbar-brand catalog-brand-size" asp-area="" asp-page="/Index">
                            <img src="~/Images/brandBlack.svg">
                        </a>
                        <div class="d-sm-inline-flex justify-content-between">
                            <form class="d-flex searchShadow" role="search">
                                <input class="form-control catalog-search-left py-2" data-id="search_catalog-input" type="search" placeholder="Хочу арендовать" aria-label="Search">
                                <button class="p-1 bg-white catalog-search-right" data-id="search_catalog-btn" type="submit"><img class="catalogFind" src="~/Images/catalogFind.svg"></button>
                            </form>
                        </div>
                        <div>
                            <a class="normal-link" asp-area="" asp-page="/Cart">
                                <img src="~/Images/cart.svg">
                                <span>
                                    Корзина
                                </span>
                            </a>
                        </div>
                        <div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="menu-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="menu">
                                    <div class="inmenu-btn active">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <h3 class="mx-5 mt-2 mb-3">Меню</h3>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link active text-green" aria-current="page" href="/Index">Главная</a>
                                        </li>
                                        <li class="nav-item text-green">
                                            <a class="nav-link text-green" href="/Catalog?Search=&SelectDate=0&SelectPrice=0&SelectBrand=0&SelectColor=0&SelectGender=0">Каталог</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-green" href="/AddItem">Добавить предмет для аренды</a>
                                        </li>
                                        <li class="nav-item text-green">
                                            <a class="nav-link text-green" href="/Cart">Корзина</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-green" href="aboutUs">О сервисе</a>
                                        </li>
                                        @{
                                            var user = await UserManager.GetUserAsync(User);
                                        }
                                        @if (user != null && await UserManager.IsInRoleAsync(user, "admin"))
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-green" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Админ
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item text-green" href="./Edit">Редактировать</a></li>
                                                    <li><a class="dropdown-item text-green" href="./Orders">Заказы</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item text-green" href="#">Что - нибудь ещё</a></li>
                                                </ul>
                                            </li>
                                        }
                                        <li class="nav-item">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                                <button type="submit" class="text-dec-none btn normal-btn btn-link text-red">Выход</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a asp-area="Identity" asp-page="/Account/Login" class="text-dec-none">
                                    <button class="enter-btn-container d-flex justify-content-center align-items-center border-0">
                                        <span class="enter-btn">
                                            Войти
                                        </span>
                                    </button>
                                </a>
                            }
                        </div>
                    </div>
                </nav>
                <div class="container d-flex justify-content-evenly background-catalog">
                    @{
                        var allCatalogs = CatalogService.GetAll();
                        for(var i = 0;i < 4; i++)
                        {
                            allCatalogs.AddRange(CatalogService.GetAll());// Проверка верхнего каталога
                        }
                        var firstSix = allCatalogs.Take(6).ToList();
                        var beforeSix = allCatalogs.Skip(6).ToList();
                    }
                    @foreach(var catalog in firstSix)
                    {
                        <div>
                            <a class="nav-link" href="/Catalog?category=@catalog.Name&SelectDate=0&SelectPrice=0&SelectBrand=0&SelectColor=0&SelectGender=0">
                                @catalog.Name
                            </a>
                        </div>
                    }
                    @if (beforeSix.Any())
                    {
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ещё
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var catalog in beforeSix)
                            {
                                <li><a class="text-black dropdown-item" href="/Catalog?category=@catalog.Name&SelectDate=0&SelectPrice=0&SelectBrand=0&SelectColor=0&SelectGender=0">@catalog.Name</a></li>
                            }
                        </ul>
                    }
                </div>
            </header>
        }
    }
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footerc text-light">
        <div class="innerFooter">
            <div class="container p-0 d-flex flex-column footerContainer justify-content-between mt-2">
                <div class="d-flex justify-content-evenly mt-5 mb-3">
                    <div>
                        <table>
                            @* Арендаторам *@
                            <tr>
                                <td class="footerColName">
                                    Арендаторам
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="text-dec-none text-light" href="/aboutUs">
                                        О сервисе
                                    </a>
                                </td>
                            </tr>
                         </table>
                    </div>
                    <div>
                        <table>
                            @* О компании *@
                            <tr>
                                <td class="footerColName">
                                    О компании
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="text-dec-none text-light" href="#">
                                        Документы
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="text-dec-none text-light" href="#">
                                        Контакты
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="footerColName">
                                    Категории
                                </td>
                            </tr>
                            @{
                                var allCatalogsFoter = CatalogService.GetAll();
                                for (var i = 0; i < 4; i++)
                                {
                                    allCatalogsFoter.AddRange(CatalogService.GetAll());// Проверка верхнего каталога
                                }
                                var firstSixFoter = allCatalogsFoter.Take(4).ToList();
                                var beforeSixFoter = allCatalogsFoter.Skip(4).ToList();
                            }
                            @foreach (var catalog in firstSixFoter)
                            {
                                <tr>
                                    <td>
                                        <a class="text-light normal-link-noColor" href="/Catalog?category=@catalog.Name&SelectDate=0&SelectPrice=0&SelectBrand=0&SelectColor=0&SelectGender=0">
                                            @catalog.Name
                                        </a>
                                    </td>
                                </tr>                               
                            }
                            @if (beforeSixFoter.Any())
                            {
                            <tr>
                                <td>
                                    <a class="text-light text-dec-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ещё
                                    </a>
                                    <ul class="dropdown-menu">
                                        @foreach (var catalog in beforeSixFoter)
                                        {
                                            <li><a class="text-black dropdown-item" href="/Catalog?category=@catalog.Name&SelectDate=0&SelectPrice=0&SelectBrand=0&SelectColor=0&SelectGender=0">@catalog.Name</a></li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                            }
                        </table>
                    </div>
                    <div>
                        <table>
                            @* Соцсети *@
                            <tr>
                                <td class="footerColName">
                                    Мы в соцсетях
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="text-dec-none text-light" href="#">
                                        <img class="socialImg" src="/Images/VKontakte-white.svg"/>
                                    </a>
                                    <a class="text-dec-none text-light" href="#">
                                        <img class="socialImg telegram" src="/Images/telegram-white.svg" />
                                    </a>
                                    <a class="text-dec-none text-light" href="#">
                                        <img class="socialImg" src="/Images/whatsapp.svg"/>
                                    </a>
                                    <a class="text-dec-none text-light" href="#">
                                        <img class="socialImg" src="/Images/instagram.svg"/>
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="text-dec-none text-light" href="#">
                                        <img class="socialImg telegram" src="/Images/facebook.svg" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    &copy; 2025 - ВсеВещи.ру
                </div>
            </div>  
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>