@page
@model VseVeshi.ru.Pages.ItemModel
@using VseVeshi.ru.Models
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Вещь";
}

@foreach(var item in Model.rentItems.Where(x => x.Id.ToString() == Model.SelectedItem))
{  
    <div class="d-flex container justify-content-center margin-foter">
        <div class="mt-5 me-5">
            <div class="item-img mb-5" style="background-image:url(@item.img) ">
            </div>
            <div class="description mt-5 p-2">
                <div class="d-flex flex-column">
                    <span class="item-info">Информация о вещи</span>
                    <span class="item-description">@item.Description</span>
                </div>
                <div class="pt-2 px-2">
                    <div class="item-data" data-id="@item.Id">
                        <span class="font-transp">ID</span><span>@item.Id</span>
                    </div>
                    <div class="item-data">
                        <span class="font-transp">Тип</span><span>@item.type</span>
                    </div>
                    <div class="item-data">
                        <span class="font-transp">Бренд</span><span>@item.brand</span>
                    </div>
                    <div class="item-data">
                        <span class="font-transp">Цвет</span><span>@item.color</span>
                    </div>
                    <div class="item-data">
                        <span class="font-transp">Пол</span><span>@item.gender</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="mt-5">
            <div class="zakaz mb-5 p-2 d-flex flex-column justify-content-between">
                <div>
                    <span class="zakaz-name">
                        @item.Name
                    </span>
                    <div class="mt-5">
                        <span class="Chost">
                            @item.Price руб.
                        </span>
                        <span class="how-day">
                            /@item.Days дня
                        </span>
                    </div>
                </div>
                <div>
                    <div class="">
                        <span class="quan">Количество</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                        <div>
                            <div class="d-flex flex-row">
                                <button class="quantity-plus d-flex align-items-center mbutton-quantity" onclick="quantity_minus();"><img src="Images/minus.svg"></button>
                                <span class="mx-2 quantity-col" data-id="quantity">1</span>
                                <button class="quantity-plus d-flex align-items-center button-quantity" onclick="quantity_plus();"><img src="Images/plus.svg"></button>
                            </div>
                        </div>
                        <div>
                            <span class="how-have">Доступно</span><span class="maxquantity how-have mx-1">@item.quantity</span>
                        </div>
                    </div>
                </div>

                <div class="">
                    <button class="btn-warning btn w-100 btn-size" data-action="Item_to_cart">
                        Добавить в корзину
                    </button>
                </div>
            </div>
            @foreach (var items in Model.rentItems.Where(x => x.Id.ToString() == Model.SelectedItem))
            {
                ApplicationUser user = await userManager.FindByIdAsync(items.userGiveId);
                if(user != null)
                {
                    <div class="info-arend mb-5 p-2">
                        <span class="arend-zag mx-2">Арендодатель</span>
                        <div>
                            <img class="info-img-size" src="Images/avatar.png">
                            <span class="arend-name">@user.FirstName</span>
                        </div>
                        <div>
                            <div class="item-data mt-2">
                                <span class="font-transp">На сайте</span>
                                <span>с @user.DateOfRegistration</span>
                            </div>
                            <div class="item-data mt-2">
                                <span class="font-transp">Сдает в аренду</span>
                                <span>@user.CountItem вещей</span>
                            </div>
                        </div>
                        <div class="d-flex mt-4">
                            <div>
                                <button class="btn-color btn-messag-size me-2" data-bs-toggle="modal" data-bs-target="#phoneModal">
                                    Сообщение
                                </button>
                            </div>
                            <div>
                                <button class="btn-color btn-call" data-bs-toggle="modal" data-bs-target="#phoneModal">
                                    <img src="Images/phone.svg">
                                </button>
                            </div>
                            <div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="phoneModalLabel">Номер телефона</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Номер телефона: @user.PhoneNumber</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                            <!--  Дополнительные кнопки (например, позвонить или отправить сообщение) -->
                                            <!--
                                            <button type="button" class="btn btn-primary">Позвонить</button>
                                            <button type="button" class="btn btn-success">Отправить сообщение</button>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            
    </div>
</div>
}


